build/
.vscode
.vs

/Debug
/Test
/Release
/Debug_x86/
/Test_x86/
/Test_minGW/
/Profile_copyBuffer/
/Profile_copyBuffer_x86/

.settings/language.settings.xml

*.aliases

libs/cpputest/INSTALL
libs/cpputest/Makefile.in
libs/cpputest/aclocal.m4
libs/cpputest/autom4te.cache/
libs/cpputest/bin/libcppuTest_minGW.a
libs/cpputest/compile
libs/cpputest/config.guess
libs/cpputest/config.h.in
libs/cpputest/config.h.in~
libs/cpputest/config.sub
libs/cpputest/configure
libs/cpputest/cpputest_build/CppUTestExtTests
libs/cpputest/cpputest_build/CppUTestExtTests.log
libs/cpputest/cpputest_build/CppUTestExtTests.trs
libs/cpputest/cpputest_build/CppUTestTests
libs/cpputest/cpputest_build/CppUTestTests.log
libs/cpputest/cpputest_build/CppUTestTests.trs
libs/cpputest/cpputest_build/Makefile
libs/cpputest/cpputest_build/config.h
libs/cpputest/cpputest_build/config.log
libs/cpputest/cpputest_build/config.status
libs/cpputest/cpputest_build/cpputest.pc
libs/cpputest/cpputest_build/generated/
libs/cpputest/cpputest_build/lib/
libs/cpputest/cpputest_build/libtool
libs/cpputest/cpputest_build/src/
libs/cpputest/cpputest_build/stamp-h1
libs/cpputest/cpputest_build/test-suite.log
libs/cpputest/cpputest_build/tests/
libs/cpputest/depcomp
libs/cpputest/install-sh
libs/cpputest/ltmain.sh
libs/cpputest/m4/libtool.m4
libs/cpputest/m4/ltoptions.m4
libs/cpputest/m4/ltsugar.m4
libs/cpputest/m4/ltversion.m4
libs/cpputest/m4/lt~obsolete.m4
libs/cpputest/missing
libs/cpputest/test-driver
libs/include/
